# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [22]:
import pandas as pd
import numpy as np

# Seu código aqui
dados = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
anomalia_termica_sem_index = pd.Series(data = dados)
anomalia_termica_sem_index

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [23]:

# seu código aqui
indice = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomalia_termica_com_index = pd.Series(data = dados , index = indice)
anomalia_termica_com_index

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [24]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
anomalia_termica_dic = pd.Series(dic_temperaturas)
anomalia_termica_dic

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [25]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df = pd.DataFrame(arr)
df

             0           1           2
0    98.607684  101.292614  109.806356
1    97.182047  109.308645   95.920919
2   105.439600   93.649916  113.706768
3    93.546314   92.279923  107.806873
4    91.112450  105.679643  114.568715
5    96.218402  112.845782   80.941611
6   103.276422   94.499241   97.641354
7   113.936191   91.128001  110.019442
8   108.140208  108.038070  103.138142
9    99.218682  110.978368   96.184448
10  108.896263  103.628317  110.904177
11   89.334982   89.200380   95.898629
12  103.799894  127.848763   92.438336
13   92.204445   84.665971  108.567375
14  105.110306   97.460422   96.765559
15   97.563101   88.352544  106.338791
16   83.942865  105.398721   88.677426
17  118.513133  105.240715   99.378482
18   90.507033  104.963725  111.112446
19   88.074191  108.253489  108.284918

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [28]:
#seu código aqui
indice_df = range(1,21)
df = pd.DataFrame(arr,
            columns=['x1','x2','x3'],
                 index = indice_df)
df

            x1          x2          x3
1    98.607684  101.292614  109.806356
2    97.182047  109.308645   95.920919
3   105.439600   93.649916  113.706768
4    93.546314   92.279923  107.806873
5    91.112450  105.679643  114.568715
6    96.218402  112.845782   80.941611
7   103.276422   94.499241   97.641354
8   113.936191   91.128001  110.019442
9   108.140208  108.038070  103.138142
10   99.218682  110.978368   96.184448
11  108.896263  103.628317  110.904177
12   89.334982   89.200380   95.898629
13  103.799894  127.848763   92.438336
14   92.204445   84.665971  108.567375
15  105.110306   97.460422   96.765559
16   97.563101   88.352544  106.338791
17   83.942865  105.398721   88.677426
18  118.513133  105.240715   99.378482
19   90.507033  104.963725  111.112446
20   88.074191  108.253489  108.284918

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [29]:
# seu código aqui
df['media'] = (df['x1'] + df['x2'] + df['x3'])/3
df

            x1          x2          x3       media
1    98.607684  101.292614  109.806356  103.235551
2    97.182047  109.308645   95.920919  100.803871
3   105.439600   93.649916  113.706768  104.265428
4    93.546314   92.279923  107.806873   97.877703
5    91.112450  105.679643  114.568715  103.786936
6    96.218402  112.845782   80.941611   96.668598
7   103.276422   94.499241   97.641354   98.472339
8   113.936191   91.128001  110.019442  105.027878
9   108.140208  108.038070  103.138142  106.438806
10   99.218682  110.978368   96.184448  102.127166
11  108.896263  103.628317  110.904177  107.809586
12   89.334982   89.200380   95.898629   91.477997
13  103.799894  127.848763   92.438336  108.028998
14   92.204445   84.665971  108.567375   95.145930
15  105.110306   97.460422   96.765559   99.778762
16   97.563101   88.352544  106.338791   97.418145
17   83.942865  105.398721   88.677426   92.673004
18  118.513133  105.240715   99.378482  107.710776
19   90.507033  104.963725  111.112446  102.194401
20   88.074191  108.253489  108.284918  101.537533

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [30]:
# seu código aqui
df['log_med'] = np.log(df['media'])
df

            x1          x2          x3       media   log_med
1    98.607684  101.292614  109.806356  103.235551  4.637013
2    97.182047  109.308645   95.920919  100.803871  4.613177
3   105.439600   93.649916  113.706768  104.265428  4.646940
4    93.546314   92.279923  107.806873   97.877703  4.583719
5    91.112450  105.679643  114.568715  103.786936  4.642340
6    96.218402  112.845782   80.941611   96.668598  4.571289
7   103.276422   94.499241   97.641354   98.472339  4.589776
8   113.936191   91.128001  110.019442  105.027878  4.654226
9   108.140208  108.038070  103.138142  106.438806  4.667570
10   99.218682  110.978368   96.184448  102.127166  4.626219
11  108.896263  103.628317  110.904177  107.809586  4.680367
12   89.334982   89.200380   95.898629   91.477997  4.516098
13  103.799894  127.848763   92.438336  108.028998  4.682400
14   92.204445   84.665971  108.567375   95.145930  4.555412
15  105.110306   97.460422   96.765559   99.778762  4.602955
16   97.563101   88.352544  106.338791   97.418145  4.579012
17   83.942865  105.398721   88.677426   92.673004  4.529077
18  118.513133  105.240715   99.378482  107.710776  4.679450
19   90.507033  104.963725  111.112446  102.194401  4.626877
20   88.074191  108.253489  108.284918  101.537533  4.620429