# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [3]:
import pandas as pd
import numpy as np

# Seu código aqui
dados = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
anomalia_termica_sem_index = pd.Series(data = dados)
anomalia_termica_sem_index

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [4]:

# seu código aqui
indice = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomalia_termica_com_index = pd.Series(data = dados , index = indice)
anomalia_termica_com_index

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [6]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
anomalia_termica_dic = pd.Series(dic_temperaturas)
anomalia_termica_dic

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [21]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df = pd.DataFrame(arr)
df

             0           1           2
0   109.297789  103.340702   84.050715
1    90.256693  104.214774   84.485590
2    95.517293  102.977090  105.298740
3    97.121316  100.527028   96.295774
4    95.554097   96.949104  104.881230
5   102.748102  108.059312  108.011786
6   100.869116  113.331560   98.097168
7    84.958834  108.001700   84.935812
8   104.406375  102.649756  108.259662
9   100.377910  108.853693   97.894017
10   98.357435  114.302989   86.780889
11   82.092132   89.329074  107.949673
12  102.119494   95.251792   83.825495
13  101.265813  104.897857  106.966398
14  106.476763   93.018020  111.247859
15   97.369050  102.535483  108.698916
16  100.164311   92.184206  102.056665
17  100.420607   97.126106  109.622877
18   94.059467   94.054778  110.910942
19  117.463090  114.028235  112.693362

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [23]:
#seu código aqui
df = pd.DataFrame(arr,
            columns=['x1','x2','x3'])
df

            x1          x2          x3
0   109.297789  103.340702   84.050715
1    90.256693  104.214774   84.485590
2    95.517293  102.977090  105.298740
3    97.121316  100.527028   96.295774
4    95.554097   96.949104  104.881230
5   102.748102  108.059312  108.011786
6   100.869116  113.331560   98.097168
7    84.958834  108.001700   84.935812
8   104.406375  102.649756  108.259662
9   100.377910  108.853693   97.894017
10   98.357435  114.302989   86.780889
11   82.092132   89.329074  107.949673
12  102.119494   95.251792   83.825495
13  101.265813  104.897857  106.966398
14  106.476763   93.018020  111.247859
15   97.369050  102.535483  108.698916
16  100.164311   92.184206  102.056665
17  100.420607   97.126106  109.622877
18   94.059467   94.054778  110.910942
19  117.463090  114.028235  112.693362

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [26]:
# seu código aqui
df['media'] = (df['x1'] + df['x2'] + df['x3'])/3
df

            x1          x2          x3       media
0   109.297789  103.340702   84.050715   98.896402
1    90.256693  104.214774   84.485590   92.985686
2    95.517293  102.977090  105.298740  101.264375
3    97.121316  100.527028   96.295774   97.981372
4    95.554097   96.949104  104.881230   99.128144
5   102.748102  108.059312  108.011786  106.273067
6   100.869116  113.331560   98.097168  104.099281
7    84.958834  108.001700   84.935812   92.632115
8   104.406375  102.649756  108.259662  105.105265
9   100.377910  108.853693   97.894017  102.375207
10   98.357435  114.302989   86.780889   99.813771
11   82.092132   89.329074  107.949673   93.123626
12  102.119494   95.251792   83.825495   93.732260
13  101.265813  104.897857  106.966398  104.376689
14  106.476763   93.018020  111.247859  103.580881
15   97.369050  102.535483  108.698916  102.867816
16  100.164311   92.184206  102.056665   98.135061
17  100.420607   97.126106  109.622877  102.389863
18   94.059467   94.054778  110.910942   99.675062
19  117.463090  114.028235  112.693362  114.728229

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [27]:
# seu código aqui
df['log_med'] = np.log(df['media'])
df

            x1          x2          x3       media   log_med
0   109.297789  103.340702   84.050715   98.896402  4.594073
1    90.256693  104.214774   84.485590   92.985686  4.532446
2    95.517293  102.977090  105.298740  101.264375  4.617735
3    97.121316  100.527028   96.295774   97.981372  4.584777
4    95.554097   96.949104  104.881230   99.128144  4.596413
5   102.748102  108.059312  108.011786  106.273067  4.666012
6   100.869116  113.331560   98.097168  104.099281  4.645345
7    84.958834  108.001700   84.935812   92.632115  4.528636
8   104.406375  102.649756  108.259662  105.105265  4.654962
9   100.377910  108.853693   97.894017  102.375207  4.628645
10   98.357435  114.302989   86.780889   99.813771  4.603306
11   82.092132   89.329074  107.949673   93.123626  4.533928
12  102.119494   95.251792   83.825495   93.732260  4.540442
13  101.265813  104.897857  106.966398  104.376689  4.648006
14  106.476763   93.018020  111.247859  103.580881  4.640353
15   97.369050  102.535483  108.698916  102.867816  4.633445
16  100.164311   92.184206  102.056665   98.135061  4.586345
17  100.420607   97.126106  109.622877  102.389863  4.628788
18   94.059467   94.054778  110.910942   99.675062  4.601916
19  117.463090  114.028235  112.693362  114.728229  4.742566